.horizontal-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.horizontal-bar ul {
    float: left;
}

.horizontal-bar ul #login {
    background-color: #04AA6D;
    float: right;
}

.horizontal-bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal-bar a:hover:not(.active) {
    background-color: #111;
}

.horizontal-bar .active {
    background-color: #04AA6D;
}