<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="taskviewstyle.css">
    <title>ChTaskMaster</title>
</head>

<body>
    <nav class="horizontal-bar">
        <ul>
            <li><a href="#github">Logo</a></li>
            <li><a href="/index.html">Home</a></li>
            <li id="login"><a href="/login.html">Log in</a></li>
            <li id="signup"><a href="/signup.html">Sign up</a></li>
        </ul>
    </nav>
    <main>
        <article>
            <h1>
                Title
            </h1>
            <hr>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur odit possimus aliquam cupiditate,
                a at porro officia voluptatum accusantium architecto numquam. Officia eos sunt reiciendis ipsam.
                Accusamus alias doloribus amet.
            </p>
            <hr>
            <div>
                <p>state</p>
                <p>date to do: 8/11/2023</p>
                <p>last edit: 5/11/2023</p>
                <a href="edit">Edit</a>
                <a href="delete">Delete</a>
            </div>

        </article>
    </main>

</body>

</html>